<div>
    <app-fa-input icon='envelope'>
      <input appInputRef (focus)="onFocusCall()" type="email" name="email" placeholder="email">
      <div block-1>
        Block-1
        <div block-2>
          Block-2
        </div>
      </div>
  
      <span>
        Span goes here
      </span>
  
    </app-fa-input>
  </div>
  
  <p appChangeBgColor style="width: 200px;"> Mouseover to change color </p>

  <a routerLink="/content-projection-demo/child/1">Click here for child component - id-1</a><br/>
  <a routerLink="/content-projection-demo/child/2">Click here for child component - id-2</a><br/>
  <a routerLink="/content-projection-demo/child/3">Click here for child component - id-3</a><br/>
  <a routerLink="/content-projection-demo/child/4">Click here for child component - id-4</a><br/>
  

  <router-outlet></router-outlet>